.charts{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top:0;
    justify-content: center;
    

}
.chartt{
    background:white;
    padding:40px;
    border-radius: 10px;
    box-shadow: 0 7px 25px rgba(0,0,0, 0.08);
    width: 100%;

}
.barchart{
    background:white;
padding:40px;
border-radius: 10px;
box-shadow: 0 7px 25px rgba(0,0,0, 0.08);
width: 100%;
}

h4 {
    font-size: 30px;

  }

label{
    font-size: 20px;
}
select {
    font-size: 15px;
    padding: 10px;
    width: 200px;
    float: right;
  }

  option {
    color: blue;
  
  }
  h4, select {
    display: inline-block;
    vertical-align: middle;
  }