.product-item {
  width: 350px;
  height: auto;
}

.product-item h3 {
  margin: 10px;
  font-size: 17px;
}

.product-list {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  background-color: #3e3e3f;
}

@media screen and (max-width: 768px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-item {
    width: 90%;
    margin: 0 20px;
  }
  .product-item h3 {
    font-size: 15px;
  }
}

@media screen and (max-width: 500px) {
  .product-list {
    grid-template-columns: 1fr;
  }
  .product-item h3 {
    font-size: 13px;
  }
  .product-item {
    width: 80%;
    margin: 0 20px;
  }
}

.badge-product {
  left: 10px !important;
}

.products {
  background-color: #3e3e3f;
}

.product-item h3 {
  margin: 10px;
  font-size: 17px;
}

.product-item {
  margin: 15px 15px;
  padding: 20px;
  border: 1px solid #323232;
  border-radius: 25px;
  background-color: #323232;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.product-item:hover {
  background-color: #323233;
  box-shadow: 0 0 20px rgba(246, 234, 234, 0.6);
}

.description-box {
  align-items: center;
  justify-content: center;
  color: #dbdbdb;
  border-radius: 8px;
  text-align: center;
  display: block;
}

.white-text {
  color: white;
  font-size: 18px;
  display: block;
  text-align: center;
}

.add-to-cart {
  text-align: center;
}

.add-to-cart button {
  background-color: #282831;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.add-to-cart button:hover {
  background-color: #050e11;
}
