/* Import Font Dancing Script */
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

.table-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10%;
  font-size: 20px;
  margin-top: 100px;
}

.change {
  background-color: #3498db; /* Màu nền xanh dương */
  color: #fff; /* Màu chữ trắng */
  padding: 10px 20px; /* Kích thước nút */
  font-size: 16px; /* Kích thước chữ */
  border: none; /* Không có đường viền */
  border-radius: 5px; /* Góc bo tròn */
  cursor: pointer; /* Con trỏ chuột khi di chuyển qua nút */
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển đổi màu nền */
}

.change:hover {
  background-color: #2980b9;
}

.navbar-top {
  background-color: #fff;
  color: #333;
  box-shadow: 0px 4px 8px 0px grey;
  height: 70px;
}

.title {
  font-family: "Dancing Script", cursive;
  padding-top: 15px;
  position: absolute;
  left: 50%;
}

.navbar-top ul {
  float: right;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 18px 50px 0 40px;
}

.navbar-top ul li {
  float: left;
}

.navbar-top ul li a {
  color: #333;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.icon-count {
  background-color: #ff0000;
  color: #fff;
  float: right;
  font-size: 11px;
  left: -25px;
  padding: 2px;
  position: relative;
}

.sidenav {
  background-color: #fff;
  color: #333;
  border-bottom-right-radius: 25px;
  height: 86%;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  position: absolute;
  top: 70px;
  width: 250px;
}

.name {
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
}

.job {
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
}

.url,
hr {
  text-align: center;
}

.url hr {
  margin-left: 20%;
  width: 60%;
}

.url a {
  color: #818181;
  display: block;
  font-size: 20px;
  margin: 10px 0;
  padding: 6px 8px;
  text-decoration: none;
}

.url a:hover,
.url .active {
  background-color: #e8f5ff;
  border-radius: 28px;
  color: #000;
  margin-left: 14%;
  width: 65%;
}

.main {
  margin-top: 2%;
  margin-left: 29%;
  font-size: 28px;
  padding: 0 10px;
  width: 58%;
}

.main h2 {
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.main .card {
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 1px 1px 8px 0 grey;
  height: auto;
  margin-bottom: 20px;
  padding: 20px 0 20px 50px;
}

.main .card table {
  border: none;
  font-size: 16px;
  height: 270px;
  width: 80%;
}

.edit {
  position: absolute;
  color: #e7e7e8;
  right: 14%;
}

.social-media {
  text-align: center;
  width: 90%;
}
/* End */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #8f8e8e;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(134, 134, 134, 0.6);
  margin-top: 100px;
}
.tableprofile {
  /* Tối ưu hóa vị trí và khoảng cách của phần tử con bên trong */
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.addd {
  width: 100%; /* Chiều rộng bảng là 100% của cha nó */
  border-collapse: collapse; /* Loại bỏ khoảng cách giữa các ô */
  margin-bottom: 15px; /* Khoảng cách giữa bảng và nút */
  border-radius: 8px;
}
.addd th,
.addd td {
  padding: 10px; /* Khoảng cách giữa nội dung và đường viền của ô */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(134, 134, 134, 0.6);
  background-color: #313131;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.change {
  margin-top: 10px;
  padding: 10px;
  background-color: #525151;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(10, 10, 10, 0.6);
  margin: 10px;
}

.change:hover {
  background-color: #080808;
}

.change-container {
  display: flex; /* Sắp xếp theo chiều ngang */
  justify-content: space-between; /* Các phần tử con căn đều theo chiều ngang */
}
