:root {
    --clr-primary: hsl(215, 99%, 66%);
    --clr-secondary: hsl(184, 89%, 65%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-900: hsl(230, 32%, 15%);
    --gradient: linear-gradient(
      -155deg,
      var(--clr-primary),
      var(--clr-secondary)
    );
    --bs-blue: #63b3ed;
    --bs-indigo: #596cff;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #f56565;
    --bs-orange: #fd7e14;
    --bs-yellow: #fbd38d;
    --bs-green: #81e6d9;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #cb0c9f;
    --bs-secondary: #8392ab;
    --bs-success: #82d616;
    --bs-info: #17c1e8;
    --bs-warning: #fbcf33;
    --bs-danger: #ea0606;
    --bs-light: #e9ecef;
    --bs-dark: #344767;
    --bs-white: #fff;
    --bs-font-sans-serif: Open Sans;
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #67748e;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .forgot-minh {
  font-family: var(--bs-font-monospace);
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  justify-content: center;
  }
  .forgot-minh-inner {
    position: relative;
  top: 30%;
  margin: auto;
  background-color: white;
  width: 500px;
  border-radius: 10px;
  box-shadow: 0 0 3.5rem rgb(0 0 0 / 0.5);
  }


  .forgot-header {
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: var(--gradient);
  color: var(--clr-neutral-100);
  border-radius: 10px 10px 0 0;
  font-size: 17px;
  }
  
  .forgot-header h1 {
    text-align: center;
  }
  
  .forgot-body {
    padding: 15px;
  text-align: center;
  }
  .forgot-body h2 {
    font-size: 20px;
  margin-bottom: 10px;
  }
  
  
  .forgot-body input[type="email"] {
    text-align: center;
  width: 400px;
  height: 40px;
  font-size: 20px;
  }
  .forgot-footer{
    padding-bottom: 15px;
  text-align: center;
  }
  .forgot-footer button {
padding: 0.75rem;
  background: var(--gradient);
  color: var(--clr-neutral-100);
  border: 0;
  border-radius: 0.25rem;
  font-size: 1.05rem;
  cursor: pointer;
  background-size: 100%;
  width: 150px;
  margin: 5px;  
  }

  #popup {
    display: none;
    position: fixed;
    top: 20px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
    background-color: #fff;
    padding: 20px; /* Increase the padding to make the popup bigger */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
  }
  
  #popup-content {
    color: #333;
    text-align: center;
  }
  
  #popup.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }

  /* Media Query for small screens */
@media (max-width: 600px) {
    .forgot-minh {
      max-width: 100%;
    }
  }

 /* Modal Styles */
.modal {
    text-align: center;
    display: none; /* Hide the modal by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Center the modal vertically and horizontally */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 8px;
    max-width: 300px;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  h2 {
    color: #333;
    margin-top: 0;
  }
  
  input[type="text"],
  input[type="password"] {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .button-secondary {
    background-color: #f44336;
  }
  
  .button-secondary:hover {
    background-color: #d32f2f;
  }