* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div {
    display: block;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    text-rendering: geometricPrecision;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

article p {
    font-size: 16px;
    line-height: 1.5;
}

article p, article h2, article h3, article ul {
    width: 600px;
    margin: 20px auto;
    color: #333;
}

section {
    background-color: #101010;
    width: 100%;
}

body {
    min-width: 400px;
    background: #101010;
}
body, input, button, option, textarea, label, select, legend, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font: 14px/18px Helvetica Neue,Helvetica,Arial,SF Pro Display,sans-serif;
    color: #333;
    outline: none;
}

article {
    padding: 20px 0 0 0;
  }

article, .bottom {
    display: block;
    overflow: hidden;
    width: 800px;
    margin: auto;
} 
  .warpper-title-author {
    margin: auto;
    background: #101010;
  }

  .titledetail {
    display: block;
    overflow: hidden;
    line-height: 52px;
    font-size: 40px;
    color: #fff;
    font-family: 'Roboto Condensed',sans-serif;
    font-weight: 600;
    width: 800px;
    margin: auto;
    padding-bottom: 10px;
}

.ngocthanh {
    color: #fff;
    font-family: 'Roboto Condensed',sans-serif;
}

.warpper-content {
    background: #fff;
    padding-bottom: 20px;
}
img {
    border: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 100%;
}
article .imgwrap {
    position: relative;
    min-height: 100px;
    margin-top: 5px;
    background: #f1f1f1;
}

article h2 {
    font-size: 16px;
    line-height: 1.5;
}

article h3, article h3 strong {
    font-size: 30px;
    line-height: 1.3;
}

article .postarticle {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    background: #ff920c;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#f76b1c),to(#ff920c));
    background: -webkit-linear-gradient(top,#ff920c,#f76b1c);
    background: -moz-linear-gradient(top,#ff920c,#f76b1c);
    background: -ms-linear-gradient(top,#ff920c,#f76b1c);
    background: -o-linear-gradient(top,#ff920c,#f76b1c);
}

article a {
    color: #0071e3;
    font-size: 16px;
}
a {
    text-decoration: none;
    transition: .3s;
}