* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bgcolor: #3e3e3f;
}
html {
  font-size: 50%;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bgcolor);
}
.main {
  width: 70%;
  margin: 12rem auto 7rem;
}
.main > section {
  background-color: var(--bgcolor);
}
.main .banner_article {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas: "a1 a2" "a1 a3";
  margin-bottom: 3rem;
}
.main .banner_article1 {
  grid-area: a1;
}
.main .banner_article2 {
  grid-area: a2;
}
.main .banner_article3 {
  grid-area: a3;
}

.main .banner_article1,
.main .banner_article2,
.main .banner_article3 {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.main .banner_article img {
  width: 100%;
  transform-origin: center;
  transition: all 0.5s ease-in-out;
}

.main .banner_article1 {
  border-top-left-radius: 2.5rem;
  border-bottom-left-radius: 2.5rem;
}

.main .banner_article2 {
  border-top-right-radius: 2.5rem;
}

.main .banner_article3 {
  border-bottom-right-radius: 2.5rem;
}

.main .banner_article1::before,
.main .banner_article2::before,
.main .banner_article3::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 40%;
  background: linear-gradient(rgba(255, 255, 255, 0.01), #000000);
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  z-index: 1;
}
.main .image_a1 {
  height: 100%;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.main .image_a2 {
  border-top-right-radius: inherit;
}
.main .image_a3 {
  border-bottom-right-radius: inherit;
}

.main .banner_article .article_title {
  position: absolute;
  bottom: 1.2rem;
  left: 1rem;
  font-size: clamp(1rem, 0.8rem + 1vw, 2.5rem);
  line-height: 1.6;
  font-weight: 700;
  color: #fbfbfb;
  margin: 1.5rem;
  z-index: 2;
}

.main .banner_article1 .article_title {
  font-size: clamp(1rem, 0.52rem + 2.4vw, 4rem);
}

.main .banner_category {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 6rem;
}

.main .banner_category > div {
  background-color: #323232;
  border-radius: 12px;
  box-shadow: #232323 4px 4px 8px 0px;
  padding: 0.5rem 1.5rem;
  color: #fff;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.3rem;
  width: 15%;
}
.main .banner_category > div > p {
  font-size: 2rem;
}
.main .banner_category > div > img {
  width: 5.5rem;
}

.main .newest_heading {
  position: relative;
  margin-bottom: 3.5rem;
}

.main .newest_heading > a {
  color: #fff;
  font-size: 2.1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  padding-left: 2rem;
}
.main .newest_heading::before {
  content: url(https://www.topzone.vn/images/topnews/desktop/after-title.png);
  width: 4px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.space{
  margin: 70px 0;
}
.main .newest_article {
  width: 60%;
}

.main .newest_article .article_item {
  display: flex;
  gap: 1.5rem;
  cursor: pointer;
  margin-bottom: 3.6rem;
  text-decoration: none;
}

.main .newest_article .article_item > img {
  width: 100%;
  border-radius: 12px;
}
.main .newest_article .article_title {
  color: #fff;
  font-size: clamp(1rem, 0.8rem + 1vw, 2.5rem);
  font-weight: 500;
  margin-bottom: 1.5rem;
  transition: all 0.3s;
}
.main .newest_article .article_title:hover {
  color: #2997ff;
}
.main .newest_article .article_time {
  color: #999;
  font-size: 1.5rem;
}

.main .newest_article .article_item:not(:first-child) {
  position: relative;
}
.main .newest_article .article_item:not(:first-child)::before {
  content: " ";
  position: absolute;
  top: -17px;
  width: 100%;
  height: 0.1px;
  background-color: #4f4f4f;
}

.line-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

@media screen and (max-width: 1059px) {
  .main .banner_category {
    display: none;
  }
  .main .newest_article {
    width: 95%;
  }
}

@media screen and (max-width: 767px) {
  .main .banner_article {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .main .banner_article2,
  .main .banner_article3 {
    display: none;
  }

  .main .banner_article1 {
    border-top-right-radius: 2.5rem;
    border-bottom-right-radius: 2.5rem;
  }

  .main .newest_article .article_item {
    flex-direction: column;
  }
}




/* header */
.item > a {
  font-size: 2rem;
}

.item > a > span {
  padding: 4px;
}



/* Responsive footer */

@media screen and (max-width: 1200px) {
  .list-foot {
      grid-template-columns: repeat(3, 1fr);
  }
  .list-foot .ft {
      padding-left: 0;
  }
}
@media screen and (min-width: 992px) {
  .head {
      /* padding: 0px 165px; */
      display: flex;
      background: #101010;
      padding: 0px 165px;
      margin: auto;
      justify-content: space-between;
      align-items: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 60px;
      position: fixed;
      z-index: 999;
  }
  .nav-link {
      font-size: 20px;
  }
  .logo a img {
      width: 35px;
      /* Thay đổi kích thước của logo tại đây */
      height: auto;
      /* Giữ tỷ lệ khung hình */
  }
  .cart-relogin {
      display: flex;
      min-width: 142px;
  }
  .nav-link .logo-zerot {
      width: 103px;
  }
  .menu {
      list-style-type: none;
      font-size: 20px;
      margin: 0;
      padding: 0;
      display: flex;
      height: 60px;
  }
  .item {
      background-color: rgb(104, 102, 98);
      width: 35px;
      /* Độ rộng của vòng tròn */
      height: 35px;
      /* Độ cao của vòng tròn */
      border-radius: 30px;
      /* Khi sử dụng border-radius là 50%, bạn tạo ra một hình tròn */
      align-items: center;
      text-align: center;
      justify-content: center;
      display: flex;
      margin: 12px 5px;
      font-family: 'Arial', sans-serif;
  }
}


/* CSS cho màn hình trung bình */

@media screen and (max-width: 991px) {
  .head {
      padding: 0px 50px;
      margin: auto;
      justify-content: space-between;
      align-items: center;
      top: 0;
      left: 0;
      width: 100%;
      position: fixed;
      z-index: 999;
      display: flex;
      background: #101010;
  }
  .nav-link {
      font-size: 15px;
  }
  .logo a img {
      width: 35px;
      /* Thay đổi kích thước của logo tại đây */
      height: auto;
      /* Giữ tỷ lệ khung hình */
  }
  .cart-relogin {
      display: flex;
  }
  .nav-link .logo-zerot {
      width: 100px;
  }
  .menu {
      list-style-type: none;
      font-size: 20px;
      margin: 0;
      padding: 0;
      display: flex;
      height: 60px;
  }
  .item {
      background-color: rgb(104, 102, 98);
      width: 30px;
      /* Độ rộng của vòng tròn */
      height: 30px;
      /* Độ cao của vòng tròn */
      border-radius: 30px;
      /* Khi sử dụng border-radius là 50%, bạn tạo ra một hình tròn */
      align-items: center;
      text-align: center;
      justify-content: center;
      display: flex;
      margin: 12px 5px;
      font-family: 'Arial', sans-serif;
  }
}


/* CSS cho màn hình nhỏ */

@media screen and (max-width: 767px) {
  .head {
      padding: 0px 5px;
      background: #101010;
      margin: auto;
  }
  .nav-link {
      font-size: 12px;
  }
  .logo a img {
      width: 20px;
      /* Thay đổi kích thước của logo tại đây */
      height: auto;
      /* Giữ tỷ lệ khung hình */
  }
  .cart-relogin {
      display: flex;
  }
  .logo a img {
      width: 35px;
      /* Thay đổi kích thước của logo tại đây */
      height: auto;
      /* Giữ tỷ lệ khung hình */
  }
  .nav-link .logo-zerot {
      width: 70px;
  }
  .item {
      background-color: rgb(104, 102, 98);
      width: 30px;
      /* Độ rộng của vòng tròn */
      height: 30px;
      /* Độ cao của vòng tròn */
      border-radius: 30px;
      /* Khi sử dụng border-radius là 50%, bạn tạo ra một hình tròn */
      align-items: center;
      text-align: center;
      justify-content: center;
      display: flex;
      margin: 12px 5px;
      font-family: 'Arial', sans-serif;
  }
}

@media (max-width: 730px) {
  .logo a img {
      width: 25px;
      /* Thay đổi kích thước của logo tại đây */
      height: auto;
      /* Giữ tỷ lệ khung hình */
  }
  .cart-relogin {
      display: flex;
  }
  .menu {
      list-style-type: none;
      font-size: 15px;
      margin: 0;
      padding: 0;
      display: flex;
      height: 60px;
  }
  .nav-link .logo-zerot {
      width: 60px;
  }
  .item {
      background-color: rgb(104, 102, 98);
      width: 35px;
      /* Độ rộng của vòng tròn */
      height: 35px;
      /* Độ cao của vòng tròn */
      border-radius: 30px;
      /* Khi sử dụng border-radius là 50%, bạn tạo ra một hình tròn */
      align-items: center;
      text-align: center;
      justify-content: center;
      display: flex;
      margin: 12px 5px;
      font-family: 'Arial', sans-serif;
  }
}

.menu .nav-item.active {
  background-color: #2d2d2d;
}

.menu .nav-item {
  display: inline-block;
  text-align: center;
  color: white !important;
  flex: 1;
  white-space: nowrap;
}

.nav-item a {
  color: white !important;
  padding: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'SF Pro Display', sans-serif;
  font-size: 15px;
}

ul.menu li {
  transition: all 0.4s;
}

ul.menu li:hover {
  background-color: #2d2d2d;
}

.cart-relogin .item a i {
  width: 40px;
  height: 20px;
  color: white;
}


/* Hiển thị dropdown-content khi di chuột vào bi bi-door-open */

.relogin .dropdown-content {
  display: none;
  position: absolute;
  font-size: 13px;
}

.dropdown-content {
  background: #fff;
  list-style-type: none;
  border-radius: 10%;
  padding: 20px;
  margin: 5px;
  z-index: 100;
  white-space: nowrap;
  overflow: auto;
}

.dropdown-content hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 5px 0 5;
}

.dropdown-content span {
  font-size: 15px;
  color: #000;
}


/* Hiển thị dropdown-content khi di chuột vào bi bi-door-open */

.relogin:hover .dropdown-content {
  display: block;
  transition: all 0.4s;
}

.dropdown-content li {
  display: flex;
}


/* Thay đổi màu của chữ trong dropdown-content */

.dropdown-content li a {
  color: #000;
  /* Đổi màu chữ thành đỏ (hoặc mã màu mà bạn muốn) */
  font-size: 15px;
  text-decoration: none;
  /* Loại bỏ gạch chân cho liên kết */
  text-align: center;
}

.dropdown-content li img {
  width: 40%;
  height: 40%;
}


/* Màu khi di chuột vào liên kết */

.dropdown-content li a:hover {
  color: #ff0606;
  /* Đổi màu khi di chuột vào liên kết (hoặc mã màu mà bạn muốn) */
  transition: all 0.4s;
}


@media screen and (max-width: 767px) {
  .list-foot {
      grid-template-columns: repeat(2, 1fr);
      background-color: 100vw !important;
  }
}

@media screen and (max-width: 450px) {
  .list-foot {
      grid-template-columns: repeat(1, 1fr);
  }
}

/* Footer */
html,
body {
  height: 100%;
  
  width: 100%;
  /* flex-direction: column; */
  background-color: #3e3e3f !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    flex: 1;
}

footer {
  margin-top: 250px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 15px;
    background-color: #101010;
    color: #3333;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'SF Pro Display', sans-serif;
    width: 100% !important;
    overflow: hidden;
}

.logo-foot {
    top: 0;
    /* Đặt vị trí theo chiều dọc */
    left: 0;
    /* Đặt vị trí theo chiều ngang */
    flex: 1;
    display: flex;
    text-align: right;
    padding-bottom: 15px;
    padding-left: 10px;
}

.logo-foot .zerotlogo img {
    width: 80px;
    height: auto;
}

.logo-foot .applelogo img {
    width: 30px;
    height: auto;
}

.logo-foot a {
    display: block;
    /* Đảm bảo logo là một phần tử khối để có thể định dạng kích thước và vị trí */
}

.logo-foot a {
    display: inline-block;
    vertical-align: middle;
}

.footer-social {
    height: 0;
}

footer-social i {
    width: 30px;
    /* Thay đổi giá trị width theo kích thước mong muốn */
    height: auto;
    /* Thay đổi giá trị height theo kích thước mong muốn */
    margin-right: 20px;
}

.txt {
    margin-bottom: 0;
    color: #888;
}

.foot {
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 50px;
}

.list-foot {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    text-decoration: none;
}

.list-foot li {
    flex: 1;
    list-style: none;
    padding: 20px;
    background-color: transparent;
    color: white;
    width: 226px;
}

.list-foot .ft {
    flex: 1;
    list-style: none;
    background-color: transparent;
    color: white;
    width: 226px;
}

.character {
    color: white !important;
    display: block;
    font-size: 13px;
    line-height: 2;
    text-decoration: none !important;
}

.columtongdai {
    padding: 0 !important;
    padding-top: 20px !important;
}

.column-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.txt {
    color: rgb(75, 73, 73);
}

span {
    font-size: 15px;
    color: white;
    line-height: 1.6;
}

.rowtongdai {
    padding-right: 200px !important;
}

.phone-link {
    display: inline-block;
    white-space: nowrap;
}

.textblu {
    color: #2997ff;
    font-size: 13px;
    text-decoration: none;
}
/* Responsive footer */

@media screen and (max-width: 1200px) {
  .list-foot {
      grid-template-columns: repeat(3, 1fr);
  }
  .list-foot .ft {
      padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .list-foot {
      grid-template-columns: repeat(2, 1fr);
      background-color: 100vw !important;
  }
}

@media screen and (max-width: 450px) {
  .list-foot {
      grid-template-columns: repeat(1, 1fr);
  }
}