#category .category-container > a:first-child {
  color: #fff;
}
#category .category-container > a:first-child::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  bottom: 0;
}
