#category .category-container > a:nth-child(2) {
  color: #fff;
}
#category .category-container > a:nth-child(2)::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  bottom: 0;
}
