html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

footer {
    /* position: fixed; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
    background-color: #101010;
    color: #3333;
    font-family: "Helvetica Neue", Helvetica, Arial, "SF Pro Display", sans-serif;
}

.logo-foot {
    top: 0;
    /* Đặt vị trí theo chiều dọc */
    left: 0;
    /* Đặt vị trí theo chiều ngang */
    flex: 1;
    padding: 30px;
    display: flex;
    text-align: right;
    padding-left: 40px;
    padding-bottom: 0;
}

.logo-foot .zerotlogo img {
    width: 80px;
    height: auto;
}

.logo-foot .applelogo img {
    width: 30px;
    height: auto;
}

.logo-foot a {
    display: block;
    /* Đảm bảo logo là một phần tử khối để có thể định dạng kích thước và vị trí */
}

.logo-foot a {
    display: inline-block;
    vertical-align: middle;
}

.footer-social {
    height: 0;
}

footer-social i {
    width: 30px;
    /* Thay đổi giá trị width theo kích thước mong muốn */
    height: auto;
    /* Thay đổi giá trị height theo kích thước mong muốn */
    margin-right: 20px;
}

.txt {
    margin-bottom: 0;
    color: #888;
}

.foot {
    justify-content: space-between;
    align-items: flex-start;
    background-color: #101010;
    padding: 5px;
}

.list-foot {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0px;
    padding-left: 20px;
    text-decoration: none;
}

.list-foot li {
    flex: 1;
    list-style: none;
    padding: 20px;
    background-color: transparent;
    color: white;
}

.character {
    color: white;
    display: block;
    font-size: 13px;
    line-height: 2;
    text-decoration: none !important;
}


/* Tạo màu nền trắng cho nội dung chữ */

.column-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.txt {
    color: rgb(75, 73, 73);
}

span {
    font-size: 15px;
    color: white;
    line-height: 1.6;
}

.rowtongdai {
    padding-right: 200px !important;
}

.phone-link {
    display: inline-block;
    white-space: nowrap;
}

.textblu {
    color: #2997ff;
    font-size: 15px;
    text-decoration: none;
}